body {
  font-family: sans-serif;
}

.ba-img {
  background-image: url(../img/4.jpg!d);
  height: 458px;
  background-position: center;
}

.ba-img {
  -webkit-animation: bg-pan-tl 8s infinite alternate-reverse both;
  animation: bg-pan-tl 8s infinite alternate-reverse both;
}

@-webkit-keyframes bg-pan-tl {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes bg-pan-tl {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.h2,
h2,
h3 {
  font-size: 18px;
  margin-bottom: -15px;
}

h1,
h4 {
  text-align: center;
  margin: 0;
}

/* udataring sida */

.name {
  font-family: 'Pacifico', cursive;
  color: bisque;
}

nav li {
  display: inline;
}

#current {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.col-6,
.col-12 {
  float: left;
}

.row ::after {
  content: '';
  clear: both;
  display: table;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

/* div {
  align-content: center;
  text-align: center;
} */

button {
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  .col-6,
  .col-12 {
    width: 100%;
  }
}

.A-form {
  display: flex;
  height: 530px;
  width: 97%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 35px;
}

.pictureForm {
  width: 18%;
  margin-right: 50px;
  height: 377px;
  padding: 10px;
}

.change {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 240px;
  height: 47px;
  cursor: pointer;
  margin: 20px auto;
  border: 2px solid;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 23px/45px "Advent Pro", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.change:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 1);
}

.change:active {
  background: rgba(33, 224, 163, 1);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.img-ex {
  margin-left: 10px;
  margin-top: 5px;
}

.text-typ {
  font-family: 'Pacifico', cursive;
}

.profile-t {
  color: rgb(0, 0, 0);
  font-family: 'Pacifico', cursive;
}

.Email-change {
  float: right;
  margin: 4%;
  height: 377px;
}

.password-Form {
  float: right;
  margin: 4%;
  height: 377px;
}

.Email-change input {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 44px;
  padding-left: 10px;
  border-radius: 5px;
  border: 4px solid rgb(0, 0, 0);
  background: content-box;
  color: rgb(0, 0, 0);
  font-family: 'Pacifico', cursive;
}

.password-Form input {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 44px;
  padding-left: 10px;
  border-radius: 5px;
  border: 4px solid rgb(0, 0, 0);
  background: content-box;
  color: rgb(0, 0, 0);
  font-family: 'Pacifico', cursive;
}

.navbar-inverse {
  border-radius: 0px;
  background-color: rgb(0, 0, 0);
  border-color: rgb(211, 204, 204);
}

.footer {
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

.footer a {
  color: rgb(240, 111, 111);
  font-size: 16px;
}

.footer p {
  padding-top: 10px;
}

.navbar-inverse .navbar-brand {
  color: rgb(255, 255, 255);
}

.container-fluid ul li a {
  text-align: center;
}

.navbar {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  margin-bottom: 0px;
}

.nav navbar-nav {
  text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  text-align: center;
  font-size: 18px;
}

.bk-g:hover {
  background-color: grey;
}

.glyphicon-log-in:before {
  margin-right: 10px;
}

.glyphicon-user:before {
  margin-right: 10px;
}

.head-line {
  font-family: 'Pacifico', cursive;
  padding-top: 20px;
  color: bisque;
}

.head-T {
  font-family: 'Pacifico', cursive;
  margin-top: 15px;
  color: bisque;
  font-size: 22px;
}

.weather {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 235px;
  padding: 14px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255, 249, 249, 1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: linear-gradient(131.6335393365702deg, rgba(242, 145, 208, 1) 0, rgba(97, 127, 204, 1) 100%);
  background-position: 50% 50%;
  background-size: auto auto;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  top: 60px;
  margin-left: 50px;
  margin-top: 20px;
}

.events {}

.first-line {
  font-family: 'Pacifico', cursive;
  color: #ff6c2f;
  margin-bottom: 55px;
  margin-top: 20px;
}

.first-event {
  font-family: 'Poiret One', cursive;
  /* font-size: 15px; */
}

.event {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 18%;
  height: 242px;
  padding: 10px;
  overflow: overlay;
  border: none;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgb(24, 23, 23);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgb(222, 226, 231);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  display: inline-block;
  margin-right: 18px;
  margin-left: 20px;
  border: 3px solid #ff6c2f;
}

.line-color {
  color: white;
}

.partners__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.partners__ul li {
  position: relative;
  margin-bottom: 10px;
}

/* sing up sida  */

/* #sinup-sida {
  background-image: url(../img/1.jpg);
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: 0px;
} */

#cp_widget_57fd808d-4e12-4fd1-8849-de1ea9c689ae {
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: 20px;
  background-color: #000;
  padding-top: 10px;
  
}

.sin-up {
  width: 35%;
  margin: 0px 0% 0% 11%;
  position: fixed;
}

.sign-form input {
  position: relative;
  display: block;
  margin-bottom: 26px;
  width: 100%;
  height: 44px;
  padding-left: 10px;
  border-radius: 5px;
  border: 4px solid rgb(0, 0, 0);
  background: content-box;
  color: whitesmoke;
  font-family: 'Pacifico', cursive;
}

::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.sing-up {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 60%;
  height: 12px;
  cursor: pointer;
  margin: 0 auto;
  -webkit-border-radius: 40px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 40px;
  font: normal 17px/17px "Advent Pro", Helvetica, sans-serif;
  color: rgb(242, 247, 245);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  font-family: 'Pacifico', cursive;
}

.sing-up:hover {
  width: 97%;
  font: normal 15px/10px "Advent Pro", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  background: rgb(0, 0, 0);
  font-family: 'Pacifico', cursive;
}

.sing-up:active {
  border: 2px solid rgb(250, 250, 250);
  background: rgb(0, 0, 0);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.sin {
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
  color: white;
  font-size: 22px;
}

/* login sida  */

/* .login-sida{
  background-color: #000;
} */

#cp_widget_c6e25862-a793-4b08-9c27-1d45c1535e9c {
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: 20px;
  opacity: 0.75px;
  background-color: #000;
  padding-top: 10px;

}

.log-in {
  width: 35%;
  position: fixed;
  margin: 0px 0% 0% 57%;
}

.login-form input {
  position: relative;
  display: block;
  margin-bottom: 26px;
  width: 100%;
  height: 44px;
  padding-left: 10px;
  border-radius: 5px;
  border: 4px solid rgb(0, 0, 0);
  background: content-box;
  color: rgb(255, 255, 255);
  font-family: 'Pacifico', cursive;
}

.ev-img {
  max-width: 100%;
  height: 120px;
}

.pimg {
  width: 200px;
  height: 200px;
  margin-top: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.ev-img {
  max-width: 100%;
  height: 120px;
  border-radius: 20px;
}

/* profile cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


