
body {
  font-family: sans-serif;
}

h1, h4 {
  text-align: center;
}

nav li {
  display: inline;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.form input {
  display: block;
  margin-left: 10px;
}

#current {
  text-align: center;
}

* {
  box-sizing: border-box;
}
.col-6, .col-12 {
  float: left;

}
.row ::after {
  content: '';
  clear: both;
  display: table;
}
.col-12{
  width: 100%;
}
.col-6 {
  width: 50%;
}
div {
  align-content: center;
  text-align: center;
}
button{
  margin-top: 30px;
}
@media screen and (max-width: 640px) {

  .col-6, .col-12 {
      width: 100%;
  }
}


