<div class="ba-img">
    <h1 class="head-line">Hej Alla Helsingborgare !!</h1>

    <div ng-show="user">
        <h1 class="name">Weclome {{user.displayName}}</h1>
    </div>

    <div ng-hide="user">
        <h4 class="head-T">Skapa din egen värld</h4>
    </div>
    <div class="weather">
        <h1>{{location}}</h1>
        <section id="current">
            <p>Today it is
                <strong>{{description}}</strong>
            </p>
            <img class="weather-img" ng-src="{{image}}" alt="">
            <p>It is {{temp_c}}&deg;c today</p>

        </section>
    </div>
</div>
<!--profiler-->
<div class="row  A-form" ng-if="user" ng-controller="UploadController">
    <form class="pictureForm" ng-submit="updatePicture(picture)">
        <h2 class="profile-t">Profile picture:</h2>
        <img class="pimg" ng-src="{{imageSrc}}">
        <br>
        <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
        <button type="submit" class="change" ng-click="upload(imageSrc)">Save Picture</button>
    </form>


    <form class="Email-change">
        <p class="text-typ">Email:</p>
        <input type="email" ng-model="user.email" class="line">
        <p class="text-typ">Username:</p>
        <input type="text" ng-model="user.displayName">
        <p class="text-typ">About:</p>
        <input type="text" id="aboutMsg" ng-model="user.About">
        <br>
        <button class="change" id="aboutSubmit" onclick="updateAbout()">Change information</button>
    </form>

    <form class="password-Form" ng-submit="updatePassword(password)">
        <p class="text-typ">Write your password</p>
        <input type="password" ng-model="user.password" placeholder="Password">
        <p class="text-typ">Write your new password</p>
        <input type="password" ng-model="user.newPassword" placeholder="Your new Password">
        <p class="text-typ">Plz confirm your new password</p>
        <input type="password" ng-model="user.newPassword" placeholder="Confirm Password">
        <br>
        <button type="submit" class="change">Change Password</button>
    </form>
</div>

<!--profile cards-->

<section ng-if="!user" class="cards">
        <h1 class="first-line">Veckans Profiler(vecka 23)</h1>
    <div class="card">
       <a href="#"> <img class="profile-pic" src="img/Mohammed.jpg" alt="Profilbild" > </a>
        <h1 class="user-n"><u>Mezar</u></h1>
        <p class="title">Front End Developer (Student)</p>
        <p>Komvux Helsingborg</p>
        <p class="about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aperiam velit quia, praesentium sint soluta voluptatem.</p>
        <div style="margin: 24px 0;">
            <a href="#">
                <i class="fa fa-dribbble"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <p>
            <button>Edit</button>
        </p>
    </div>
    
    <div class="card">
       <a href="#"> <img class="profile-pic" src="img/aml.jpg" alt="Profilbild" ></a>
         <h1 class="user-n"><u>Aml</u></h1>
        <p class="title">Front End Developer (Student)</p>
        <p>Komvux Helsingborg</p>
        <p class="about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aperiam velit quia, praesentium sint soluta voluptatem.</p>
        <div style="margin: 24px 0;">
            <a href="#">
                <i class="fa fa-dribbble"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <p>
            <button>Edit</button>
        </p>
    </div>
    <div class="card">
            <a href="#"><img class="profile-pic" src="img/Ikhlaq.jpg" alt="Profilbild" > </a> 
             <h1 class="user-n"><u>Ikhlaq</u></h1>
             <p class="title">Front End Developer (Student)</p>
             <p>Komvux Helsingborg</p>
             <p class="about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aperiam velit quia, praesentium sint soluta voluptatem.</p>
             <div style="margin: 24px 0;">
                 <a href="#">
                     <i class="fa fa-dribbble"></i>
                 </a>
                 <a href="#">
                     <i class="fa fa-twitter"></i>
                 </a>
                 <a href="#">
                     <i class="fa fa-linkedin"></i>
                 </a>
                 <a href="#">
                     <i class="fa fa-facebook"></i>
                 </a>
             </div>
             <p>
                 <button>Edit</button>
             </p>
         </div>

    <div class="card">
        <a href="#"><img class="profile-pic" src="img/Shaza.jpg" alt="Profilbild"></a>
         <h1 class="user-n"><u>Shaza</u></h1>
        <p class="title">Front End Developer (Student)</p>
        <p>Komvux Helsingborg</p>
        <p class="about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aperiam velit quia, praesentium sint soluta voluptatem.</p>
        <div style="margin: 24px 0;">
            <a href="#">
                <i class="fa fa-dribbble"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <p>
            <button>Edit</button>
        </p>

   
</section>
<!--events-->
<div ng-if="!user" ng-controller="eventCtrl">
    <div id="events" class="events">
        <h1 class="first-line">Events</h1>
        <div ng-repeat="x in events" class="event">
            <h2>
                {{x.organizers[0].organizer}}
            </h2>
            <h3 class="first-event">
                <img ng-src="{{x.featured_media.source_url}}" class="ev-img">
            </h3>
            <h2>
                {{x.location.formatted_address}}
            </h2>
            <h3>
                {{x.date}}
            </h3>
        </div>
    </div>
</div>

  <!--Mapbox-->
  <div class="map-plats">
        <div id='map'></div>
    
        <div class='map-overlay-container'>
            <div class='map-overlay'>
                <h2 id='location-title'></h2>
                <p id='location-description'></p>
            </div>
        </div>
    </div>
<script>
    
mapboxgl.accessToken = 'pk.eyJ1IjoiaWtobGFxIiwiYSI6ImNqZ2c4emh5MTJhYXQyeHBmcjN4aTA2aWsifQ.pH0lUBflmYrwPT_-4Y7DKA';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [12.6974978, 56.0483045],
    maxZoom: 16,
    minZoom: 9,
    zoom: 9.68
});

var title = document.getElementById('location-title');
var description = document.getElementById('location-description');

var locations = [{
    "id": "2",
    "title": "Sofiero slott",
    "description": "Sofiero är ett slott med en 15 hektar stor parkträdgård i Helsingborgs socken i Helsingborgs.",
    "camera": {
        center: [12.6575198, 56.0841041],
        zoom: 50,
        pitch: 50
    }
}, {
    "id": "3",
    "title": "Väla centrum",
    "description": "Väla är Sveriges bästa shopping - 200 butiker Helsingborg Skåne Öppet Vardagar 10-20 Helger 10-18 Alltid gratis parkering..",
    "camera": {
        center: [12.7622641, 56.093351],
        bearing: -8.9,
        zoom: 30
    }
}, {
    "id": "1",
    "title": "Fredriksdal",
    "description": "Fredriksdal museer och trädgårdar är ett friluftsmuseum på 36 hektar i Helsingborg.",
    "camera": {
        center: [12.7109241, 56.0573553],
        bearing: 25.3,
        zoom: 30
    }
}, {
    "id": "4",
    "title": "Olympia",
    "description": "Olympia är en fotbollsarena i Helsingborg. Idrottsplatsen är hemmaplan åt Helsingborgs IF och ägs av Helsingborgs stad.",
    "camera": {
        center: [12.7048071, 56.0498063],
        bearing: 36,
        zoom: 20
    }
}, {
    "id": "5",
    "title": "knutpunkten",
    "description": "Knutpunkten är Helsingborgs största järnvägsstation .",
    "camera": {
        center: [12.6927689, 56.0437601],
        bearing: 28.4,
        zoom: 30
    }
}, {
    "title": "Helsingborg",
    "description": "En av Nordens äldsta och Sveriges renaste städer.",
    "camera": {
        center: [12.6974978, 56.0483045],
        zoom: 12,
        bearing: 0,
        pitch: 0
    }
}];

function highlightBorough(code) {
    // Only show the polygon feature that cooresponds to `borocode` in the data
    map.setFilter('highlight', ["==", "borocode", code]);
}

function playback(index) {
    title.textContent = locations[index].title;
    description.textContent = locations[index].description;

    highlightBorough(locations[index].id ? locations[index].id : '');

    // Animate the map position based on camera properties
    map.flyTo(locations[index].camera);

    map.once('moveend', function () {
        // Duration the slide is on screen after interaction
        window.setTimeout(function () {
            // Increment index
            index = (index + 1 === locations.length) ? 0 : index + 1;
            playback(index);
        }, 3000); // After callback, show the location for 3 seconds.
    });
}

// Display the last title/description first
title.textContent = locations[locations.length - 1].title;
description.textContent = locations[locations.length - 1].description;

map.on('load', function () {

    map.addLayer({
        "id": "highlight",
        "type": "fill",
        "source": {
            "type": "vector",
            "url": "mapbox://mapbox.8ibmsn6u"
        },
        "source-layer": "original",
        "paint": {
            "fill-color": "#fd6b50",
            "fill-opacity": 0.25
        },
        "filter": ["==", "borocode", ""]
    }); // Place polygon under the neighborhood labels.

    // Start the playback animation for each borough
    playback(0);
});				

</script>   