<div class="login-sida">
    <div id="cp_widget_c6e25862-a793-4b08-9c27-1d45c1535e9c">...</div>
    <script type="text/javascript">
        var cpo = [];
        cpo["_object"] = "cp_widget_c6e25862-a793-4b08-9c27-1d45c1535e9c";
        cpo["_fid"] = "AoIAqSuMyQ1i";
        var _cpmp = _cpmp || [];
        _cpmp.push(cpo);
        (function () {
            var cp = document.createElement("script");
            cp.type = "text/javascript";
            cp.async = true;
            cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
            var c = document.getElementsByTagName("script")[0];
            c.parentNode.insertBefore(cp, c);
        })();
    </script>
    <section class="log-in">
        <form class="login-form" ng-submit="login(user)">
            <h2 class="sin">Logga in Här:</h2>
            <input type="email" ng-model="user.email" placeholder="Email / Username">
            <input type="password" ng-model="user.password" placeholder="Password">
            <button type="submit" class="sing-up">Login</button>
            <p>
                <small class="line-color">{{error}}</small>
            </p>
        </form>
    </section>
</div>