<div id="sinup-sida">
<section class="sin-up">
    <form class="sign-form" ng-submit="signUp(user)">
        <h2 class="sin">Regrestera dig Här:</h2>
        <input type="email" ng-model="user.email" placeholder="Email">
        <input type="password" ng-model="user.password" placeholder="Password">
        <input type="text" ng-model="user.username" placeholder="Username">
        <button type="submit" class="sing-up">Sign Up</button>
        <p>
            <small class="line-color">{{error}}</small>
        </p>
    </form>
</section>
</div>