<div id="sinup-sida">
    <div id="cp_widget_57fd808d-4e12-4fd1-8849-de1ea9c689ae">...</div>
    <script type="text/javascript">
        var cpo = [];
        cpo["_object"] = "cp_widget_57fd808d-4e12-4fd1-8849-de1ea9c689ae";
        cpo["_fid"] = "AULAQQu_5gOF";
        var _cpmp = _cpmp || [];
        _cpmp.push(cpo);
        (function () {
            var cp = document.createElement("script");
            cp.type = "text/javascript";
            cp.async = true;
            cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
            var c = document.getElementsByTagName("script")[0];
            c.parentNode.insertBefore(cp, c);
        })();
    </script>
    <section class="sin-up">
        <form class="sign-form" ng-submit="signUp(user)">
            <h2 class="sin">Registrera dig här:</h2>
            <input type="email" ng-model="user.email" placeholder="Email">
            <input type="password" ng-model="user.password" placeholder="Password">
            <input type="text" ng-model="user.username" placeholder="Username">
            <button type="submit" class="sing-up">Sign Up</button>
            <p>
                <small class="line-color">{{error}}</small>
            </p>
        </form>
    </section>
</div>